*{
    margin:0px;
padding:0px;
}

.table-container{
    border:1px solid gray;
    width:800px;
    height:500px;
    margin:auto;
    margin-top:100px;
}
.table-head,th,td{
border:1px solid gray;
}


.table-head{
    border:10px;
    width:800px;
    height:60px;
    margin:auto;
}
.Edit-btn{
    width:200px;
    height:20px;
    padding:10px;
    text-decoration: none;
    border:1px solid gray;
    border-radius:7px;
    color:black;
    background-color:gray;
    color:white

}
.Delete-btn{
    width:80px;
    text-decoration: none;
    border:1px solid gray;
    border-radius:7px;
    color:black;
    margin-left:7px;
    align-items: center;
    padding:15px;
    background-color:Red;
    color:white

}
.add-btn{
    width:100px;
    text-decoration: none;
    border:1px solid gray;
    border-radius:7px;
    color:black;
    margin-left:27px;
    padding:10px;
    background-color:Red;
    color:white;
top:35px;
right:450px;
position:absolute;
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:20px;
}